.card {
  position: relative;
  display: flex;
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.5rem;
  background-color: var(--bg-card);
}

.card-header {
  position: relative;
  width: 100%;
  > img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-top-left-radius: calc(0.5rem - (1px));
    border-top-right-radius: calc(0.5rem - (1px));
  }
}

.card-body {
  padding-bottom: 1.5rem;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  > .card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  > h3 {
    line-height: 1.4;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

.card-footer {
  border-radius: 0 0 calc(0.5rem - (1px)) calc(0.5rem - (1px));
  width: calc(100% - 1.5rem * 2);
  padding-right: 0;
  padding-left: 0;
  margin: auto;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  border-top: 1px solid var(--gray-700);
  > a {
    display: flex;
    text-decoration: none;
    font-weight: 800;
    align-items: center;
    > img {
      border-radius: 50% !important;
      margin-right: 1rem;
      max-width: 100%;
      width: 48px;
      height: auto;
      vertical-align: middle;
    }
  }
}
