.header {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  background-color: var(--header-color);
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sticky {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: sticky;
  z-index: 10;
  background-color: var(--header-color);
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.container {
  width: 75%;
  @media (max-width: 992px) {
    width: 95%;
  }
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-body {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  overflow-y: visible;
}

.form-container {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 0.5rem;
  min-height: 1.6rem;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--text-color);
  background-color: var(--nav-color);
  background-clip: padding-box;
  outline: 0;
  box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
  transition: transform 0.3s ease-in-out;
}

.end {
  top: 0;
  right: 0;
  width: 21rem;
  transition: all 0.3s ease-in-out;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.mobile-body {
  flex-grow: 1;
  padding: 1.5rem 1.5rem;
  overflow-y: auto;
  display: block;
  padding: 0.535rem 0;
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  > ul {
    text-decoration: none !important;
    > li {
      font-weight: 600;
      border: 0;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
    }
  }
}

.link-container {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  color: var(--text-color);
}

.mobile-link-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  color: var(--text-color);
  font-size: large;
  &:hover {
    color: #6366f1;
    transition: all 0.2s ease-in-out;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.65;
  transition: all 0.5s ease-in-out;
}

.hidden {
  top: 0;
  right: -1000px;
  width: 21rem;
  transition: all 0.3s ease-in-out;
}

.switcher {
  // Use this transform for custom sized toggle
  transform: scale(1);
  display: flex;
  align-items: center;

  input {
    display: none;
  }
  label {
    display: block;
    height: 24px;
    width: 46px;
    border-radius: 50px;
    background: var(--primary);
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(99, 102, 241, 0.9);
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      left: 5px;
      height: 18px;
      width: 18px;
      background: var(--light);
      border-radius: 50%;
      border-radius: 16px;
      z-index: 1;
      animation: off 0.5s ease-out;
      transform-origin: 0 0;
      transition: all 0.5s ease-in-out;
    }
  }
  input:checked + label {
    background: var(--primary);

    &:before {
      transition: all 0.5s ease-in-out;
      transform: translateX(17px);
      animation: on 0.5s ease-out;
      transform-origin: 100% 0;
      background: var(--light);
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: row;
}
